.box {
  height: 500px;
  width: 350px;
  margin: auto;
  position: relative;
  border: 3px solid white;
  box-sizing: border-box;
  padding-top: 30px;

}

.glass {
  height: 250px;
  width: 250px;
  background: white;
  border-style: solid;
  border-color: black;
  margin: 30px auto;
  -webkit-clip-path: polygon(0 1%, 100% 0, 95% 100%, 6% 100%);
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 50% 50% 0 0;
  transform: rotate(180deg);
  overflow: hidden;
}

.glass2 {
  height: 200px;
  width: 200px;
  background: white;
  border-style: solid;
  border-color: black;
  margin: 30px auto;
  -webkit-clip-path: polygon(0 1%, 100% 0, 95% 100%, 6% 100%);
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 50% 50% 0 0;
  transform: rotate(180deg);
  overflow: hidden;
  visibility: hidden;
}

.wine {
  background-color: red;
  border-radius: 50% 50% 0 0;
}

.rod {
  height: 130px;
  width: 15px;
  background: white;
  margin: -32px auto;
  border-radius: 0 0 5px 5px;
}

.base {
  width: 100px;
  height: 30px;
  background-color: white;
  margin: 10px auto;
  border-radius: 50%;

}

.container-size{

  height: 35rem;
}