<div class="container">
<div class="card" *ngIf="!flipStatus" style="width:400px" ngClass="animate__animated animate__fadeIn">
            <div class="glass">
              <div class="wine" [ngStyle]= "onPercentageChangeColor()">
              </div>
            </div>
      <div class="card-body" >
        <h4 class="card-title">Laundry Basket Status</h4>
        <p class="card-text">{{statusText}}</p>
        <button type="button" class="btn btn-info" (click)="onClickChangeToDetergent()">Detergent</button>
      </div>
    </div>
      <div class="card" style="width:400px" *ngIf = "flipStatus" ngClass="animate__animated animate__fadeIn">
  <div class="card-body" >
    <h4 class="card-title">Detergent to used</h4>
    <p class="card-text">Please use 2 scoops of Detergent</p>
    <div class="glass2">
        <div class="wine" >
        </div>
      </div>
    <button type="button" class="btn btn-info" (click)="onClickChangeToDetergent()">Laundry basket</button>
  </div>
      

    </div>


