<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <label class="label-style">{{label}}</label>
        <input matInput class="input-field" placeholder="" formControlName="description" autocomplete="off">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="d-flex justify-content-between w-100">
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button save" (click)="save()">Save</button>
    </div>
</mat-dialog-actions>