.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    background: -webkit-linear-gradient(to right, #87D37C, #26A65B, #049372, #2ABB9B);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #7b9577, #45643f, #abc2ac, #567941);
    width:45%;
    height:2.5rem;
}

.form-control {
    height: 3rem;
}

.sign-up{
color: #546350;
border: none;
background: none;
font-size: 18px;
}

.google-sign {
    width:100%;
    border: none;
    background: none;
}

.glass-morph-temp {
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}


.full-page-bg {
    background-image: url('./../../../assets/img/mike-castro-demaria-vEnB66L4cnQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}