<div class="main-container">

  <section id="section-1" class="one section-1">
    <!-- <div *ngIf="userState$ | async">userdata is coming</div> -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <span class="text-change" style="font-size: 70px; color : white ;">{{textSection1 }}</span>&nbsp;
        <span class="text-change" style="font-size: 70px; color : white ;"
          *ngIf="textSection1=='Hello'">{{this.userInformation!.userdetails.firstname}}</span>
      </div>
    </div>
  </section>


  <section id="section-2" class="two" style="color: white; ">
    <div>

      <div>
      <div class="row" *ngIf="getScreenWidth>720 && !flipDevices ">
        <div class="col">
          <app-laundry-basket [userInfo]="userState$ | async"></app-laundry-basket>
        </div>
        <div class="col">
          <app-recycle-bin [userInfo]="userState$ | async"></app-recycle-bin>
        </div>
        <div class="col">
          <app-washing-machine [userInfo]="userState$ | async"></app-washing-machine>
        </div>
      </div>

      <div class="row" *ngIf="getScreenWidth>720  && flipDevices ">
        <div class="col">
          <app-airvent [userInfo]="userState$ | async"></app-airvent>
        </div>
      </div>
      <div *ngIf="getScreenWidth>720" class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="onFlipDevice1()"> 1 </button>
      <button type="button" class="btn btn-primary" (click)="onFlipDevice2()"> 2 </button>
    </div>
    </div>


      <div class="container fluid" *ngIf="getScreenWidth<720" [style.height]=" getScreenHeight%20">
        <div class="row">

          

          <div class="card device-card">
            <div class="card-body">
              <h5 class="card-title">Laundry Basket ({{this.userInformation?.devices?.laundryBasketStatus}}) %  <button type="button" (click)="openPopup('Laundry')"
                class="info" >?</button></h5>
              
                  <div class="progress" *ngIf = "this.userInformation?.devices?.laundryBasketStatus == 20">
                    <div class="progress-bar bg-success bg-gradient"  role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.laundryBasketStatus == 40">
                    <div class="progress-bar bg-success bg-gradient"  role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.laundryBasketStatus == 60">
                    <div class="progress-bar bg-warning bg-gradient" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.laundryBasketStatus == 80">
                    <div class="progress-bar bg-danger bg-gradient" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.laundryBasketStatus == 100">
                    <div class="progress-bar bg-danger bg-gradient" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleLaundry}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <app-laundry-basket [userInfo]="userState$ | async"></app-laundry-basket>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup('Laundry')">
                        Close
                      </button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="card device-card">
            <div class="card-body">
              <h5 class="card-title">Recycle-Bin <button type="button" (click)="openPopup('Bin')"
                  class="btn btn-info">Info</button></h5>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.DustbinStatus == false">
                    <div class="progress-bar bg-success bg-gradient"  role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.DustbinStatus ==true">
                    <div class="progress-bar bg-danger bg-gradient"  role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleBin}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <app-recycle-bin [userInfo]="userState$ | async"></app-recycle-bin>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup('Bin')">
                        Close
                      </button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="card device-card">
            <div class="card-body">
              <h5 class="card-title">Washing Machine <button type="button" (click)="openPopup('WM')"
                  class="btn btn-info">Info</button></h5>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleWM}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <app-washing-machine [userInfo]="userState$ | async"></app-washing-machine>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup('WM')">
                        Close
                      </button>
                    </div>
                  </div>

                </div>

                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>>
              </div>
            </div>
          </div>


          <div class="card device-card">
            <div class="card-body">
              <h5 class="card-title">Airvent <button type="button" (click)="openPopup('AV')"
                  class="btn btn-info">Info</button></h5>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.DustbinStatus == false">
                    <div class="progress-bar bg-success bg-gradient"  role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress" *ngIf = "this.userInformation?.devices?.DustbinStatus ==true">
                    <div class="progress-bar bg-danger bg-gradient"  role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleAV}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <app-airvent [userInfo]="userState$ | async"></app-airvent>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup('AV')">
                        Close
                      </button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>








        </div>


      </div>
    </div>
  </section>

  <section id="section-3" class="three">
    <!-- <h1>Cleaning Cycle</h1> -->
    <div class="d-flex justify-content-center position-relative clean-cycle">Give us your preferences for <button mat-button type="button" (click)="openForm()">cleaning cycle</button> to initialise
      your cleaning map </div>
    <div class="map-view d-flex justify-content-center position-relative">
      <dx-vector-map id="vector-map" [projection]="projection">
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer [hoverEnabled]="false" [dataSource]="buildingData" name="building"></dxi-layer>
        <dxi-layer color="transparent" [dataSource]="roomsData" name="rooms" [borderWidth]="1">
          <dxo-label [enabled]="true" dataField="name"></dxo-label>
        </dxi-layer>
      </dx-vector-map>
    </div>
  </section>
</div>