*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
   overflow-y : scroll;
}
section{
   height:100vh;
   display:flex;
   justify-content: center;
   align-items: center;
   color: rgb(0, 0, 0); 
   scroll-snap-align:start;
}
.one{
    background-color: rgb(255, 255, 255);
}
.two{
    background-color: rgb(206, 140, 140);
}
.three{
    background-color: rgb(255, 255, 255);
}
.four{
    background-color: rgb(168, 123, 123);
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }