<div class="main-container">
    <section class="one">
        <div>
          <h1>Dashboard</h1>
          <div class="row">
            <div class="col">
              <app-laundry-basket></app-laundry-basket>
            </div>
            <div class="col">
              <app-recycle-bin></app-recycle-bin>
            </div>
          </div>
        </div>
    </section>
    <section class="two">
        <h1>Second Page</h1>
    </section>
    <section class="three">
        <h1>Third Page</h1>
    </section>
    <section class="four">
        <h1>Fourth Page</h1>
    </section>
</div>